body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.babyNamesBlue {
  background-color: #89defe;
  margin: 5px;
  padding: 3px;
  border-radius: 4px;
  color: #199ef3;
}

.babyNamesPink {
  background-color: #ffdbe9;
  margin: 5px;
  padding: 3px;
  border-radius: 4px;
  color: #fc46c1;
}

.appContainer {
text-align: center;
background-color: white;
border: 4px solid #61bafb;
margin: 200px 200px 100px 200px;
padding: 30px 50px 50px 50px;
border-radius: 10px;
border-style: inset;

}